<div layout-align="center" layout="row" >
    <md-whiteframe class="md-whiteframe-2dp" flex="90" layout="column" layout-fill layout-align="center center" >
    
        <h1>{{ bodySection }}</h1>
        <div layout="row" layout-wrap layout-align="space-around stretch">
            <md-card md-theme"default" ng-repeat="bodyPart in bodyParts" flex="25" style="margin-bottom: 40px">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{ ::bodyPart.name }}</span>
                        <span class="md-subhead">Large</span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-lg card-media" >
                            <a ng-href="{{bodyPart.link}}">
                                <img class="md-media-lg card-media" ng-if="bodyPart.imgUrl" ng-src="{{ bodyPart.imgUrl }}">
                            </a>
                          
                                <youtube-video  class="md-media-lg card-media"  video-id="bodyPart.vdId" src="{{ bodyPart.vdId }}" ></youtube-video> 
                           
                       </div>
                    </md-card-title-media>
                </md-card-title>
                
                <md-card-content>
                    <p>
                    {{ ::bodyPart.description }}
                    </p>
                </md-card-content>
            </md-card>
        </div>
    </md-whiteframe>
</div>
